<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Know the Meta Admin</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container-fluid">
        <h3 class="m-2 mb-4">Admin page</h2>
        <div class="alert alert-success" role="alert" th:text="${message}" th:if="${message != null}"/>
        <div class="row">
            <div class="col">
                <!-- NetrunnerDB -->
                <div class="card mb-3 shadow-sm">
                    <div class="card-header bg-info text-white">
                        <div class="float-right">
                            <a href="/load-netrunnerdb" class="btn btn-primary">Update</a>
                        </div>
                        <h5 class="card-title">
                            NetrunnerDB<br/>
                            <small>
                                last update: <em th:text="${stampNetrunnerDB}"/>
                            </small>
                        </h5>
                    </div>
                    <div class="card-body">
                        <div>
                            <strong>CardCycles:</strong> <span th:text="${cycleCount}"/>
                            - last: <em th:text="${lastCycle}"/>
                        </div>
                        <div>
                            <strong>CardPacks:</strong> <span th:text="${packCount}"/>
                            - last: <em th:text="${lastPack}"/>
                        </div>
                        <div>
                            <strong>Factions:</strong> <span th:text="${factionCount}"/>
                        </div>
                        <div>
                            <strong>Cards:</strong> <span th:text="${cardCount}"/>
                            <strong>Prints:</strong> <span th:text="${printCount}"/>
                            - last: <em th:text="${lastPrint}"/>
                        </div>
                        <div>
                            <strong>MWLS:</strong> <span th:text="${mwlCount}"/>
                            - last: <em th:text="${lastMWL}"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <!-- Stats -->
                <div class="card mb-3 shadow-sm">
                    <div class="card-header bg-info text-white">
                        <h5>Stats</h5>
                    </div>
                    <div class="card-body">
                        <div>
                            <strong>Tournaments:</strong> <span th:text="${tournamentCount}"/>
                        </div>
                        <div>
                            <strong>Standings:</strong> <span th:text="${standingCount}"/>
                        </div>
                        <div>
                            <strong>Decks:</strong> <span th:text="${deckCount}"/>
                        </div>
                        <div>
                            <strong>Players:</strong> <span th:text="${playerCount}"/>
                        </div>
                        <hr/>
                        <div>
                            <strong>WinRateUsed</strong> stat for <strong>factions</strong>: <span th:text="${factionStatCount}"/><br/>
                            <strong>WinRateUsed</strong> stat for <strong>IDs</strong>: <span th:text="${idStatCount}"/><br/>
                            <strong>WinRateUsed</strong> stat for <strong>cards</strong> (non-ID): <span th:text="${cardStatCount}"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Meta -->
        <div class="card mb-3 shadow-sm">
            <div class="card-header bg-info text-white">
                <h5>Metas</h5>
            </div>
            <div class="card-body">
                <!-- New Meta form -->
                <form class="form-inline" th:if="${packCount > 0}" action="/add-meta">
                    <input type="text" class="form-control mr-sm-2" id="metaTitle" name="metaTitle" placeholder="title of meta"/>
                    <select class="form-control mr-sm-2" name="metaPack">
                        <option th:each="pack : ${packs}" th:value="${pack.code}" th:utext="${pack.name}"/>
                    </select>
                    <select class="form-control mr-sm-2" name="metaMWL">
                        <option th:each="mwl : ${mwls}" th:value="${mwl.code}" th:utext="${mwl.name}"/>
                    </select>
                    <div class="form-check form-check-inline mr-sm-2">
                        <input class="form-check-input" type="checkbox" id="metaNewCards" name="metaNewCards">
                        <label class="form-check-label" for="metaNewCards">new cards</label>
                    </div>
                    <button type="submit" class="btn btn-primary">Add</button>
                </form>
                <em th:if="${packCount == 0}">Update NetrunnerDB first!</em>
                <hr/>
                Meta list: <a href="/stats">metas.json</a>
                <!-- Existing Metas -->
                <table class="table">
                    <thead class="thead-dark">
                        <th>title</th>
                        <th>cardpool</th>
                        <th>MWL</th>
                        <th class="text-center">new cards</th>
                        <th class="text-center">update</th>
                        <th class="text-center">tourn.</th>
                        <th class="text-center">stand.</th>
                        <th class="text-center">decks</th>
                        <th class="text-center">matches</th>
                        <th class="text-center">stats</th>
                        <th></th>
                    </thead>
                    <tbody>
                        <tr th:each="meta : ${metas}">
                            <td>
                                <a th:href="${'/stats/' + #strings.replace(meta.title,'+','%2B')}" th:text="${meta.title}"/>
                            </td>
                            <td th:text="${meta.cardpool?.name}"/>
                            <td th:text="${meta.mwl?.name}"/>
                            <td class="text-center">
                                <span th:if="${meta.newCards}">&#10004;</span>
                            </td>
                            <td>
                                <em th:if="${meta.lastUpdate == null}">no data</em>
                                <span th:if="${meta.lastUpdate != null}" th:text="${#dates.format(meta.lastUpdate, 'yyyy-MM-dd HH:mm')}"/>
                            </td>
                            <td th:text="${meta.tournamentCount}" class="text-center"/>
                            <td th:text="${meta.standingsCount}" class="text-center"/>
                            <td th:text="${meta.runnerDecksCount + meta.corpDecksCount}" class="text-center"/>
                            <td th:text="${meta.matchesCount}" class="text-center"/>
                            <td class="text-center">
                                <a th:if="${meta.statsCalculated}" th:href="${'/uncalculate?title=' + #strings.replace(meta.title,'+','%2B')}">&#9728;</a>
                                <span th:if="${!meta.statsCalculated}">&#9729;</span>
                            </td>
                            <td>
                                <a th:href="${'/get-meta?title=' + #strings.replace(meta.title,'+','%2B')}">
                                    <button class="btn btn-primary btn-sm" type="button">&#8634;</button>    
                                </a>
                                <a th:href="${'/delete-meta?title=' + #strings.replace(meta.title,'+','%2B')}">
                                    <button class="btn btn-outline-danger btn-sm" type="button">&#10060;</button>    
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card mb-3 shadow-sm">
                    <div class="card-header bg-danger text-white">
                        DELETE
                    </div>
                    <div class="card-body">
                        <form class="form-inline" action="/delete-tournament">
                            <input type="text" class="form-control mb-2 mr-sm-2" name="tournamentid" placeholder="tournament ID"/>
                            <button type="submit" class="btn btn-danger mb-2">Delete</button>
                        </form>
                    </div>
                </div>
            </div>
            <!-- TEMP -->
            <div class="col">
                <div class="card mb-3 shadow-sm">
                    <div class="card-header bg-info text-white">
                        <h5>Temp</h5>
                    </div>
                    <div class="card-body">
                        <a href="/temp">
                            <button class="btn btn-primary btn-sm" type="button">Temp</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>  
    </div>
    
</body>
</html>